<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangsan.seionor1.week3.dao.ComMapper">
	
	<resultMap type="plan" id="comMapper">
		<id column="id" property="id"></id>
		<result column="dept_id" property="deptId"/>
		<association property="dept" column="dept_id" select="findDepart"></association>
		
	</resultMap>
	
	<select id="list" resultMap="comMapper">
		SELECT id,name,amount,manager,content,dept_id FROM zhunneng_2019plan 
		WHERE name like concat('%',#{value},'%')
	</select>
	
	<select id="findDepart" resultType="depart">
		SELECT id,name FROM zhunneng_department WHERE id=#{value}
	</select>
	
</mapper>